node_modules/
.env
.cache/
artifacts/
cache/
broadcast/
typechain-types/
dist/
coverage/
coverage.json
hardhat.config.ts.buildinfo
.DS_Store
npm-debug.log*
yarn-error.log
.svelte-kit/
.idea/
.vscode/
prompt.md
.windsurf
deployments